@font-face {
    font-family: 'Sequel Sans';
    src: url('SequelSans-BoldDisp.woff2') format('woff2'),
        url('SequelSans-BoldDisp.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sequel Sans';
    src: url('SequelSans-MediumDisp.woff2') format('woff2'),
        url('SequelSans-MediumDisp.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Sequel Sans';
    src: url('SequelSans-SemiBoldHead.woff2') format('woff2'),
        url('SequelSans-SemiBoldHead.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}